body{
    
}
.box{
    position: relative;
    z-index:2;
    width: 800px;
    height: 600px;
    background: white;
    border-radius: 4px;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.5);
  }
  .question{
    position: relative;
    margin: 60px;
    display: block;
    content: "";
    height: 1px;
    background-color: black;
}